html {
  background-color: #25594b;
}

#title {
  color: #bf7b3f;
  text-align: center;
  font-family: "Are You Serious", cursive;
  font-size: 4rem;
  font-weight: 200;
}

#warning {
  color: white;
  text-align: center;
  font-family: "Special Elite", cursive;
  font-size: 1.5rem;
}

#play {
  font-size: 5rem;
  border-radius: 50px;
  border-style: hidden;
  cursor: pointer;
  background-color: #25594b;
}

.container {
  height: 50px;
  margin-top: 50px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
  text-align: center;
}

#quote {
  height: 150px;
  line-height: 50px;
  color: #bf7b3f;
  margin-top: 4rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Special Elite", cursive;
  border: 2px solid black;
  border-radius: 10px;
}

#legal {
  text-align: end;
  margin-top: 60px;
  font-size: 0.8rem;
}
